@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10rem;
    flex-wrap: wrap;
}

.logo {
    width: 5rem;
    height: 5rem;
    display: flex;
    transition: all 0.5s ease;
}

.menu {
    display: flex;
    gap: 3rem; 
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat' ,sans-serif;
    transition: all 0.3s ease;
    
}

@media (min-width: 320px) and (max-width: 768px) {
    .menu li a {
        font-size: 0.8rem;
        text-align: left;
        
    }
    .menu {
        gap: 2rem;
        
    }
}

@media (min-width: 769px) and (max-width: 1080px) {
    .menu li a {
        font-size: 1.5rem;
    }
    .menu {
        gap: 3rem;;
    }
}

@media (min-width: 320px) and (max-width: 1018px) {
    .navbar {
        padding:0.5rem 2rem;;
    }

    .logo {
      width: 3rem;
      height: 3rem;
    }
   
}




